<div class="sidenav__content-wrapper">
  <div>
    <a class="sidenav__title" routerLink="/">MedicinePlanner</a>
  </div>
  <div class="sidenav__link-wrapper">
    <a class="sidenav__link"
       routerLink="/"
       routerLinkActive="sidenav__link--active"
       [routerLinkActiveOptions]="{exact: true}"
    >My Schedules</a>
  </div>
  <div class="sidenav__link-wrapper">
    <a class="sidenav__link"
       routerLink="/create"
       routerLinkActive="sidenav__link--active"
       [routerLinkActiveOptions]="{exact: true}"
    >New Schedule</a>
  </div>
  <div class="sidenav__link-wrapper">
    <a class="sidenav__link"
       routerLink="/medicine"
       routerLinkActive="sidenav__link--active"
       [routerLinkActiveOptions]="{exact: true}"
    >Medicine List</a>
  </div>
  <div class="sidenav__link-wrapper">
    <button class="sidenav__btn" (click)="logout()">Logout</button>
  </div>
</div>
