.sidenav {

  &__content-wrapper {
    height: 100%;
    padding: 40px 30px;
    background-color: #3F51B5;
  }
  &__profile-wrapper {
    display: flex;
    margin: 20px 0 16px;
    align-items: center;
  }
  &__profile-img img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 50%;
  }
  &__profile-name,
  &__profile-email {
    color: #FFFFFF;
  }
  &__profile-name {
    margin-bottom: 8px;
    font-size: 20px;
  }
  &__profile-email {
    font-size: 16px;
  }
  &__link-wrapper {
    margin: 16px 0;

    &:last-child {
      margin-top: 50px;
    }
  }
  &__title, &__link, &__btn {
    color: #FFFFFF;
    font-size: 28px;
    text-decoration: none;
  }
  &__link, &__btn {
    font-size: 22px;
  }
  &__link {

    &--active {
      color: #FFD300;
    }
  }
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__link:hover, &__btn:hover {
    color: #FDA50F;
  }
}
