<div class="sidenav__content-wrapper">
  <div>
    <a class="sidenav__title" routerLink="/">MedicinePlanner</a>
  </div>
  <div *ngIf="profile$ | async as profile" class="sidenav__profile-wrapper">
    <div class="sidenav__profile-img">
      <img [src]="profile.photo" alt="profile-img">
    </div>
    <div>
      <div class="sidenav__profile-name">Hello, {{profile.name}} {{profile.surname}}</div>
      <div class="sidenav__profile-email">{{profile.email}}</div>
    </div>
  </div>
  <div class="sidenav__link-wrapper">
    <a class="sidenav__link"
       routerLink="/"
       routerLinkActive="sidenav__link--active"
       [routerLinkActiveOptions]="{exact: true}"
    >My Schedules</a>
  </div>
  <div class="sidenav__link-wrapper">
    <a class="sidenav__link"
       routerLink="/create"
       routerLinkActive="sidenav__link--active"
       [routerLinkActiveOptions]="{exact: true}"
    >New Schedule</a>
  </div>
  <div class="sidenav__link-wrapper">
    <a class="sidenav__link"
       routerLink="/medicine"
       routerLinkActive="sidenav__link--active"
       [routerLinkActiveOptions]="{exact: true}"
    >Medicine List</a>
  </div>
  <div class="sidenav__link-wrapper">
    <button class="sidenav__btn" (click)="logout()">Logout</button>
  </div>
</div>
