<main class="page-wrapper">
  <div class="text-wrapper">
    <h1 class="title">MedicinePlanner</h1>
    <p class="hint">
      Please log in with your
      <span class="google-text google-text--blue"> G</span>
      <span class="google-text google-text--red">o</span>
      <span class="google-text google-text--yellow">o</span>
      <span class="google-text google-text--blue">g</span>
      <span class="google-text google-text--green">l</span>
      <span class="google-text google-text--red">e </span>
      account
    </p>
  </div>
  <div>
    <button mat-raised-button (click)="signInWithGoogle()">Sign In</button>
  </div>
</main>
