.auth-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #3F51B5;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  margin-right: 30px;

  @media (max-width: 1024px) {
    margin-right: 20px;
  }
  @media (max-width: 576px) {
    margin-right: 15px;
  }
  @media (max-width: 375px) {
    margin-right: 10px;
  }
}

.title,
.hint {
  margin: 0;
  color: #FFFFFF;
}

.title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 60px;
  line-height: 50px;
  letter-spacing: 0.04em;

  @media (max-width: 1024px) {
    margin-bottom: 12px;
    font-size: 40px;
    line-height: 36px;
  }
  @media (max-width: 576px) {
    margin-bottom: 0;
    font-size: 28px;
    line-height: 28px;
  }
  @media (max-width: 375px) {
    font-size: 23px;
    line-height: 22px;
  }
}

.hint,
.google-text {
  font-size: 28px;
  letter-spacing: 0.01em;

  @media (max-width: 1024px) {
    font-size: 19px;
  }
  @media (max-width: 576px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    font-size: 11px;
  }
}

.google-text {
  font-weight: 600;

  &--blue {
    color: #73A9FF;
  }
  &--green {
    color: #34A853;
  }
  &--yellow {
    color: #FBBC05;
  }
  &--red {
    color: #CF4C40;
  }
}

.google-btn {
  width: 120px;
  height: 94px;
  box-shadow: rgb(0 0 0 / 24%) 0 2px 2px 0, rgb(0 0 0 / 24%) 0 0 1px 0;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;

  svg {
    margin-right: 4px;
    transform: scale(1.2);
  }

  @media (max-width: 1024px) {
    width: 110px;
    height: 74px;
  }
  @media (max-width: 576px) {
    width: 90px;
    height: 50px;
    font-size: 13px;

    svg {
      margin-right: 2px;
      transform: scale(1);
    }
  }
  @media (max-width: 375px) {
    width: 80px;
    height: 40px;
    font-size: 11px;

    svg {
      margin-right: 0;
      transform: scale(0.8);
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 249, 249, 0.5);
  align-items: center;
  justify-content: center;
}
